@using ASI.Basecode.Services.ServiceModels
@model UserViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Forgot Password";
}
@section styles {
    <link rel="stylesheet" href="~/css/forgotpass.css"/>
}

<div class="screenContainer">
    <div class="pngContainers">
        <div class="imageContainer">
            <img src="/img/knowbody.png"
                 style="width: 100%;" alt="logo">
        </div>
        <div>
            <img src="/img/forgotpasswordPic.png"
                 style="width: 100%;" alt="logo">
        </div>
    </div>

    <div class="boxContainer">
        <div class="inputContainer">

            <i class="fa-solid fa-x fa-lg closeIcon"></i>
            
            <p class="text1">WANT TO CHANGE YOUR PASSWORD?</p>
            <p class="text2">No problem. Let’s change it!</p>
            <form>
                <input class="passwordInput" type="password" id="password" placeholder="New Password" required><br><br>

                <input class="passwordInput" type="text" id="confirm_password" placeholder="Confirm New Password" required><br><br>

                <div style="display: flex; justify-content: center;">
                    <input class="changeButton" type="submit" value="Change">
               </div>
            </form>
        </div>
       
    </div>
                  
</div>